/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

#menus {
    text-align: center;
    font-size: 30px;
    color: #9E9E9E;
}

.categoryNew {
    text-align: center;
    border-color: #808080;
    border-style: solid;
    padding: 5px;
}

.categoryAssessment {
    text-align: center;
    border-color: #808080;
    border-style: solid;
    padding: 5px;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

h1{
    text-align: center;
    margin-bottom: 40px;
}

h2{
    text-align: center;
    margin-bottom: 40px;
}


.input-box {
    margin: 31px auto;
    width: 20%;
    border-style:solid;
    padding: 5px;
}

.input-box input {
    width: 90%;
    border: none;
    outline: none;
    background: white;
    color: #000000;
    border-width: thin;
}

::placeholder {
    color:	#696969;
}

.fa {
   margin-right: 10px
}

.Adminbutton {
    text-align: center;
    height:30px;
    width: 20%;
    display: block;
    border: 1px solid white;
    cursor: pointer;
    color: #9E9E9E;
    font-size: 16px;
    overflow:hidden;
    text-overflow: ellipsis;
}

.questionBox {
    margin: 31px auto;
    width: 80%;
    border-style:solid;
    padding: 8px;
    padding-top: 7px;
    padding-bottom: 3px;
}

.questionBox input {
    width: 99%;
    border: none;
    outline: none;
    background: white;
    color: #000000;
    border-width: thin;
}

#numQuestions {
    width: 89%;
    max-width: 89%;
    margin-left: auto;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.answerBox {
    margin: 31px auto;
    width: 80%;
    border-style:solid;
    padding: 8px;
    padding-top: 7px;
    padding-bottom: 3px;
}

.answerBox textarea {
    width: 24.75%;
    color: black;
    border-width: thin;
}

#score {
    width: 10%;
    max-width: 10%;
    float: right;
}

.searchBox {
    margin: 31px auto;
    width: 80%;
    border-style:solid;
    padding: 8px;
    padding-top: 7px;
    padding-bottom: 3px;
    border-color: #FFFFFF;
    color:#9E9E9E
}

.searchBox input {
    width: 99%;
    border: none;
    outline: none;
    background: transparent;
    color: #FFFFFF;
    border-width: thin;
    border-color: #FFFFFF;
}

.user, .user th, .user td, .user tr {
    color: #FFFFFF;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 0em .5em;
    border: 1px solid white;
    border-collapse: collapse;
}

#userMessage {
    text-align: center;
    color: #FFFFFF;
    font-weight: bolder;
}