{%extends "base.html" %}
{% block title %}Admin{% endblock %}
{% block content %}
<div id="main" >
  <h1>Assessments</h1>
  <h2>Latest Assessments</h2>
  <table id="assessmentTable" class="center">
    <tr><th><p class="categoryNew" id="newCategory">Create a new Assessment</p></th></tr>
    {% if assessmentLen > 0 %}
      {% for category in assessment %}
        <tr><th><p class="categoryAssessment" id="Assessment" >{{category}}</p></th></tr>
      {% endfor %}
    {% endif %}
  </table>
</div>
{% endblock %}