{%extends "base.html" %}
{% block title %}Admin{% endblock %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/admin.css')}}">
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" id="close">&times;</a>
  <a href="/assessment">Assessment</a>
  <a href="/user">Users</a>
  <a href="/statistics">Clients</a>
</div>

<span id="menus">&#8801;Menu</span>

<!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
<div id="main">
  <h1>Admin</h1>
</div>
{% endblock %}