{%extends "base.html" %}
{% block title %}Admin{% endblock %}
{% block content %}
<!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
<div id="main">
  <h1>Users</h1>
  <div class="searchBox">
    <input id="query" name="query" placeholder="Username or Email" maxlength="256">
  </div>
  <p style="text-align: center" id="search" class="button">Search</p>
  {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p class="center">{{msg}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>
{% endblock %}