{%extends "base.html" %}
{% block title %}Assessments{% endblock %}
{% block content %}
<div class="gen">
        <h1>Assessments</h1>
        <div id="ahome">
                <p>Select an assessment from the list below to start the module</p>
                {% if session['logged_in'] == True %}
                <div class="startBlock" id="sb1">
                        <h1>The Moon</h1>
                        <p>Learn some interesting facts about our moon!</p>
                </div>
                <br>
                <div class="startBlock" id="sb2">
                        <h1>Assessment name</h1>
                        <p>Put a single line descriptions</p>
                        <br>
                </div>
                {% else %}
                <p style="color:red; font-weight:bold">You must be logged in to attempt Assessments</p>
                <div class = "hBlock">
                        <div class = "uBlock">
                                <div class = "blockText">
                                        <h2>Login</h2>
                                </div>
                        </div>
                </div>
                {% endif %} 
        </div>
</div>
<br>
<br>
<div class="aBlock hidden" id="1P0">
        <h3>Introduction</h3>
        <p style='text-align: center;'>The Moon is a body that orbits the Earth. 
                It is about ¼ the size of the Earth and is about 384,400 km away. 
                It is Earth’s only natural satellite and has many interesting features.
                </p>
        <br>
        <div>
        <p tyle='text-align: center;'>The moon orbits around the Earth once every 27 days. The Moon also 
                spins around its axis, but the spin is such that one side always faces towards the Earth. 
                This is known as a spin-orbit locking, an illustration is provided below. 
                The side we don’t see is known as the ‘dark side’ of the Moon.
                </p>
        </div>
        <div class='clear'></div>
</div>
<div class="aBlock hidden" id="1P1">
        <br>
        <h3 style='text-align: center;'>Phases of the Moon</h3>
        <br>
        <div>
                <img src="/static/images/Phases1.png" width="40%" height="333" style='float:right'>
                <p>Due to the orbit of the moon, from a specific location on Earth, 
                        the moon seems to change shape as it orbits. This is due to the sunlight hitting the 
                        Moon at different angles and due to the Earth’s shadow, causing different parts of the 
                        moon to be illuminated as it orbits the Earth. The different shapes are knoown 
                        as ‘phases’ of the Moon. </p>
                <br>
                <p>The moon’s phases are shown in the photo below. The phases 
                        start with a New Moon, where the Moon is not visible at all, and go from a 
                        crescent moon towards a full Moon and back to the New Moon.</p>
        </div>
        <div class='clear'></div>
        <br>
        <!-- <div>
                <img src="/static/images/Phases2.jpg" width="40%" height="333" style='float:left'>
                
        </div> -->
        <br>
</div>

<div class="aBlock hidden" id="1P2">
        <!-- load next bit of assessment -->
        <p>First Q form goes here</p>
        <form class = "questionForm">
                <div><!--Question-->
                        <h3 style='text-align: center'>{{answers[0].question}}</h3>
                </div>
                <div>
                        <input type='radio' id='1P2-1' name='1P2-1' value='{{answers[0].answer1}}'>
                        <label for ='1p2-1'>{{answers[0].answer1}}</label><br>
                        <input type='radio' id='1P2-1' name='1P2-2' value='{{answers[0].answer2}}'>
                        <label for ='1p2-2'>{{answers[0].answer2}}</label><br>
                        <input type='radio' id='1P2-1' name='1P2-3' value='{{answers[0].answer3}}'>
                        <label for ='1p2-3'>{{answers[0].answer3}}</label><br>
                        <input type='radio' id='1P2-1' name='1P2-4' value='{{answers[0].answer4}}'>
                        <label for ='1p2-4'>{{answers[0].answer4}}</label>
                </div>
                <div style='float: right;'><!--submit button-->
                        <button class = 'ansButton'>Submit</button>
                </div>
        </form>
</div>
<div class="aBlock hidden" id="1P3">
        <br>
        <h3>Moon and Tidal Effects</h3>
        <br>
        <div>    
                <img src="/static/images/Tides.gif" width="500" height="333" style='float: right;'>
                <p>The gravitational attraction of the Earth on the Moon keeps it in orbit, 
                        but the Moon also has its own gravitational pull on the Earth. 
                        The Moon has a mass approximately 1.2% that of Earth’s, this means there is a 
                        significant gravitational pull from the Moon on the Earth. </p>
                <br>
                <p>This pull influences the Earth’s oceans and causes the water to rise in 
                        accordance with the position of the moon, as shown. This causes high-tide and 
                        low-tide as seen on a beach or foreshore, and is essential for the lifecycles of 
                        many aquatic creatures.</p>
        </div>
        <div class='clear'></div>
</div>
<div class="aBlock hidden" id="1P4">
        <!-- load next bit of assessment -->
        <p>2nd Q</p>
        <br>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam consequuntur beatae ab iste nulla ullam dolorem unde soluta provident natus magni architecto, esse, eum rem accusantium itaque veritatis est dolor.</p>
        <br>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam consequuntur beatae ab iste nulla ullam dolorem unde soluta provident natus magni architecto, esse, eum rem accusantium itaque veritatis est dolor.</p>
        <br>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam consequuntur beatae ab iste nulla ullam dolorem unde soluta provident natus magni architecto, esse, eum rem accusantium itaque veritatis est dolor.</p>
</div>
<div class="aBlock hidden" id="1P5">
        <br>
        <h3>Barycentre</h3>
        <br>
        <!--Is a bit unclear-->
        <div>
                <img src="/static/images/Barycentre.gif" width="500" height="333" style='float: left;'>
                <p>The gravitational pull of the Moon is quite large 
                        and so causes the centre-of-mass of the Earth-Moon system to lie 4,671 km 
                        away from the centre of the earth, ie. 1700km below the surface of the Earth. 
                        This means the Earth actually rotates around the combined centre-of-mass 
                        (barycentre), as shown in the graphic. </p>
                <br>
                <p>The period of rotation is the same as the period of rotation of the Moon ≈ 28 days. 
                        But the speed at which the moon travels around the barycentre is much faster 
                        than the speed at which the Earth travels.</p>
        </div>
        <div class='clear'></div>
        <br>
</div>
<div class="aBlock hidden" id="1P6">
        <!-- load next bit of assessment -->
        <p>3rd Q</p>
        <form class = 'questionForm'>
                <div><!--Question-->
                        <h3 style='text-align: center'>{{answers[2].question}}</h3>
                </div>
                <div>
                        <input type='radio' id='1P2-1' name='1P2-1' value='{{answers[2].answer1}}'>
                        <label for ='1p2-1'>{{answers[2].answer1}}</label><br>
                        <input type='radio' id='1P2-1' name='1P2-2' value='{{answers[2].answer2}}'>
                        <label for ='1p2-2'>{{answers[2].answer2}}</label><br>
                        <input type='radio' id='1P2-1' name='1P2-3' value='{{answers[2].answer3}}'>
                        <label for ='1p2-3'>{{answers[2].answer3}}</label><br>
                        <input type='radio' id='1P2-1' name='1P2-4' value='{{answers[2].answer4}}'>
                        <label for ='1p2-4'>{{answers[2].answer4}}</label>
                </div>
                <div style='float: right;'><!--submit button-->
                        <button class = 'ansButton'>Submit</button>
                </div>
        </form>
</div>
<div class="aBlock hidden" id="1P7">
        <br>
        <h3 style='text-align: center;'>Solar and Lunar Eclipses</h3>
        <br>
        <div>
                <p>The Moon allows two extraordinary events to occur throughout the year, namely the solar and lunar eclipses. Both occur when the Sun, Moon and Earth lie in a straight line but both are very unique.</p>
        </div>
        <br>
        <div>
                <img src="/static/images/Solar Eclipse.png" width="500" height="333" style='float: left;'>
                <p>A solar eclipse occurs when the Moon lies directly in between the 
                        earth and the sun, blocking out the sun completely. This can only occur, 
                        co-incidentally, because the angular size of the sun and the moon in the sky are 
                        the same (0.5°). This allows astronomers to see the outer edges of the sun 
                        (called the Corona), which is otherwise invisible.</p>
        </div>
        <div class='clear'></div>
        <br>
        <div>
                <img src="/static/images/Lunar Eclipse.png" width="500" height="333" style='float:right'>
                <p>A Lunar eclipse, on the other hand, occurs when the Earth comes 
                        between the Moon and the Sun. The Sun’s light cannot reach the Moon directly, but 
                        instead passes around the Earth, through the Earth’s atmosphere. The Atmosphere 
                        absorbs most of the light and leaves only the longest wavelength red light to 
                        illuminate the Moon. This phenomenon is what causes a ‘Blood Moon’ where the moon 
                        appears to be a reddish-orange hue.</p>
                
        </div>
        <div class='clear'></div>
</div>
<div class="aBlock hidden" id="1P8">
        <!-- load next bit of assessment -->
        <p>4th Q</p>
</div>
<div class="aBlock hidden" id="1P9">
        <!--add feedback slide-->
</div>
<div class="aBlock hidden" id="1P10">
        <!-- load next bit of assessment -->
        <br>
        <br>
        <h3 style='text-align:center'>Congratulations on Finishing The Moon module!</h3>
        <p style='text-align:center'>Press the button below to return to the list of assessments</p>
        <br>
        <br>
        <div class= 'exit'>
                <button id='ex1'>Back to Assessments</button>
        </div>
</div>
<div class="aBlock hidden" id="2P0">
        <!-- load next bit of assessment -->
        <p>2nd intro</p>
</div>
<div class="aBlock hidden" id="2P1">
        <!-- load next bit of assessment -->
        <p>2nd C1</p>
</div>
<div class="aBlock hidden" id="2P2">
        <!-- load next bit of assessment -->
        <p>2nd Q1</p>
        <form class = 'questionForm'>
                <div><!--Question-->
                        <h3 style='text-align: center'>{{answers[4].question}}</h3>
                </div>
                <div>
                        <input type='radio' id='1P2-1' name='1P2-1' value='{{answers[4].answer1}}'>
                        <label for ='1p2-1'>{{answers[4].answer1}}</label><br>
                        <input type='radio' id='1P2-1' name='1P2-2' value='{{answers[4].answer2}}'>
                        <label for ='1p2-2'>{{answers[4].answer2}}</label><br>
                        <input type='radio' id='1P2-1' name='1P2-3' value='{{answers[4].answer3}}'>
                        <label for ='1p2-3'>{{answers[4].answer3}}</label><br>
                        <input type='radio' id='1P2-1' name='1P2-4' value='{{answers[4].answer4}}'>
                        <label for ='1p2-4'>{{answers[4].answer4}}</label>
                </div>
                <div style='float: right;'><!--submit button-->
                        <button class = 'ansButton'>Submit</button>
                </div>
        </form>
</div>
<div class="aBlock hidden" id="2P3">
        <!--add feedback slide-->
</div>
<div class="aBlock hidden" id="2P4">
        <!-- load next bit of assessment -->
        <br>
        <br>
        <h3 style='text-align:center'>Congratulations on Finishing "Assessment 2"</h3>
        <p style='text-align:center'>Press the button below to return to the list of assessments</p>
        <br>
        <br>
        <div class= 'exit'>
                <button id='ex2'>Back to Assessments</button>
        </div>
</div>
<div class="hidden" id="but">
    <button id="prev">Previous</button>
    <button id="next">Next</button>
</div>
<br>
{% endblock %}