{%extends "base.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}
<div class="gen">
    <h1>Home</h1>
    <p>Welcome to "INSERTN SITE NAME HERE"</p>
    <p>Learn "INSERT LEARN THING" and test your knowledge all on our site!</p>
    <!-- update text to reflect content -->
</div>
<br>
<!-- add if else logged in -->
<!-- if logged in - redict to assessment box
if not logged in - box to redict to login/signup -->
<!-- login box glows blue when hovered and has outline of person, says login
signup box glows green when hovered and has outline of person, says signup
assessment box glows yellow when hovered and has outline of person, says assessments -->
<!--put these next to each other if not logged in-->
<div class = "hBlock">
  <div class = "lBlock">
    <div class = "blockText">
        <h2>Login</h2>
    </div>
  </div>
  <div class = "sgBlock">
    <div class = "blockText">
        <h2>Sign-up</h2>
    </div>
  </div>
  <div class = "clear"></div>
</div>
<br> <!--until i add login support-->
<!--if logged in show this one-->
<div class= "hBlock">
  <div class = "asBlock">
    <div class = "blockText">
        <h2>Assessments</h2>
    </div>
  </div>
</div>
{% if session['logged_in'] == True %}

{% endif %}
{% endblock %}
