{%extends "base.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}
<div class="gen">
    <h1>Home</h1>
    <p>Welcome to AstroQuizlet</p>
    <p>Learn interesting topics in Astrophysics and test your knowledge all on our site!</p>
    <!-- update text to reflect content -->
</div>
<br>
{% if session['logged_in'] == True %}
<div class= "hBlock">
  <div class = "asBlock">
    <div class = "blockText">
        <h2>Assessments</h2>
    </div>
  </div>
</div>
{% else %}
<div class = "hBlock">
  <div class = "lBlock">
    <div class = "blockText">
        <h2>Login</h2>
    </div>
  </div>
  <div class = "sgBlock">
    <div class = "blockText">
        <h2>Sign-up</h2>
    </div>
  </div>
  <div class = "clear"></div>
</div>
<br>
{% endif %}
{% endblock %}
