{%extends "base.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}
<div class="gen">
    <h1>Home</h1>
    <p>Welcome to "INSERTN SITE NAME HERE"</p>
    <p>Learn "INSERT LEARN THING" and test your knowledge all on our site!</p>
</div>
<div class="container" style='margin-left:1em;margin-right:1em;'>
    <div class="row">
      <div class="col-sm-4">
        <span class="hpbutton"><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Links</a></span>
      </div>
      <div class="col-sm-4">
        <span class="hpbutton"><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">To Other</a></span>
      </div>
      <div class="col-sm-4">
        <span class="hpbutton"><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Places</a></span>
      </div>
    </div>
{% endblock %}
