<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" ></a>
    <button class="navbar-toggler mr-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link {% if page == 'home' %}active{% endif %}" id="home" href="/">Home</a>
        </li>
        {% if session['logged_in'] == True %}
        <li class="nav-item">
          <a class="nav-link {% if page == 'assessment' %}active{% endif %}" id="assessment" href="/assessment">Assessment</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if page == 'statistics'%}active{% endif %}" id="statistic" href="/statistics">Statistics</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if page == 'user' %}active{% endif %}" id="user" href="/user">User</a>
        </li>
        {% if session['admin'] == True %}
        <li class="nav-item">
          <a class="nav-link {% if page == 'admin'%}active{% endif %}" id="admin" href="/admin">Admin</a>
        </li>
        {% endif %}
        {% endif %}
      </ul>
    </div>
      <div class="navbar-nav ml-auto" style="padding-right: 10px;">
      {% if session['logged_in'] == True %}
      <div class="nav-item">
          <a class="nav-link" id="logout" href="/logout">Logout</a>
      </div>
      {% else %}
      <div class="nav-item">
          <a class="nav-link {% if page == 'login' %}active{% endif %}" id="loginpage" href="/login">Login</a>
      </div>
      {% endif %}
      </div>
  </div>
</nav>