{% extends "base.html" %}
{% block title %}Sign Up{% endblock %}
{% block content %}
<body>
<form class="form-box" method="post">
    <h1>Sign Up</h1>
    <div class="input-box">
        <input id="username" type="text" name="username" placeholder="Username" maxlength="40">
    </div>
    <div class="input-box">
        <input id="email" type="email" name="email"placeholder="Email" maxlength="256">
    </div>
    <div class="input-box" id="password">
        <input type="password" name="password" placeholder="Password" id="passwordInput" maxlength="200">
        <i id="eye" class="fa fa-eye"></i>
    </div>
    <div class="rememberMe">
        <input name="rememberMe" type="checkbox" value="lsRememberMe" id="rememberMe"> <label for="rememberMe">Remember me</label>
    </div>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p class="center">{{msg}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <button id="signup" type="submit" class="button">Sign Up</button>
</form>
</form>
</body>
{% endblock %}