{%extends "base.html" %}
{% block title %}Statistics{% endblock %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/statistic.css')}}">
<div class = "gen">
    <h1>Statistics</h1>
    <br>
    <h3>Overall</h3>
    <table class="tableClass">
        <tr>
            <th>Catergory</th>
            <th>Value</th>
        </tr>
        <tr>
            <td>Number of Users</td>
            <td>{{numUsers}}</td>
        </tr>
        <tr>
            <td>Number of Assesments Completed</td>
            <td>{{numAssess}}</td>
        </tr>
    </table>
    <br>
    <br>
    <h3>Assessment 1</h3>
    <table class = "tableClass">
        <tr><td></td><td>Score</td></tr>
        {% for score in maxScore1 %}
        <tr><td>Max Score</td><td>{{score.max}}</td></tr>
        {% endfor %}
        {% for score in avgScore1 %}
        <tr><td>Average Score</td><td>{{score.avg}}</td></tr>
        {% endfor %}
    </table>
    <br>
    <br>
    <h3>Assessment 2</h3>
    <table class = 'tableClass'>
        <tr><td></td><td>Score</td></tr>
        {% for score in maxScore2 %}
        <tr><td>Max Score</td><td>{{score.max}}</td></tr>
        {% endfor %}
        {% for score in avgScore2 %}
        <tr><td>Average Score</td><td>{{score.avg}}</td></tr>
        {% endfor %}
    </table>
{% endblock %}