{%extends "base.html" %}
{% block title %}User{% endblock %}
{% block content %}
<div class = "gen">
    <h1>User</h1>
</div>
<br>
<!--figure out what breaks becasuse of this-->
{% if session['logged_in'] == True %}
<div class = "userBlock">
    <table class ="userTable">
        <tr>
            <th>Field</th>
            <th>Value</th>
        </tr>
        <tr>
            <td>Username</td>
            <td>{{user.username}}</td>
        </tr>
        <tr>
            <td>Email</td>
            <td>{{user.email}}</td>
        </tr>
        <tr>
            <td>Joined on</td>
            <td>{{user.dateJoined.date()}}</td>
        </tr>
    </table>
    <br>
</div>
<p>{{user}}</p>
<p>{{user.id}}</p>
<p>{{user.email}}</p>

<br>
<br>
<!--need to get this to work-->
<table class = 'tableClass'>
    <tr><td>Asessment</td><td>Score</td></tr>
    {% for score in scores %}
    <tr><td>{{score.assessmentId}}</td><td>{{score.score}}</td></tr>
    {% endfor %}
</table>
{% endif %}
{% endblock %}