{%extends "base.html" %}
{% block title %}User{% endblock %}
{% block content %}
<div class = "gen">
    <h1>User</h1>
</div>
<br>
<!--figure out what breaks becasuse of this-->
{% if session['logged_in'] == True %}
<div class = "userBlock">
    <table class ="userTable">
        <tr>
            <th>Field</th>
            <th>Value</th>
        </tr>
        <tr>
            <td>Username</td>
            <td>{{user.username}}</td>
        </tr>
        <tr>
            <td>Email</td>
            <td>{{user.email}}</td>
        </tr>
        <tr>
            <td>Joined on</td>
            <td>{{user.dateJoined.date()}}</td>
        </tr>
    </table>
    <br>
</div>
<div class ="userAssess">
    <table class = "userTable" id = "assessTable">
        <tr>
            <th>Asessment</th>
            <th>Progress</th>
            <th>Score</th>
        </tr>
    </table>
</div>
{% else %}

{% endif %}
{% endblock %}