{%extends "base.html" %}
{% block title %}User{% endblock %}
{% block content %}
<div class = "gen">
    <h1>User</h1>
</div>
<br>
<!--figure out what breaks becasuse of this-->
{% if session['logged_in'] == True %}
<div class = "userBlock">
    <table class ="userTable">
        <tr>
            <th>Field</th>
            <th>Value</th>
        </tr>
        <tr>
            <td>Username</td>
            <td>{{user.username}}</td>
        </tr>
        <tr>
            <td>Email</td>
            <td>{{user.email}}</td>
        </tr>
        <tr>
            <td>Joined on</td>
            <td>{{user.dateJoined.date()}}</td>
        </tr>
    </table>
    <br>
</div>
<p>{{user}}</p>
<p>{{user.id}}</p>
<p>{{user.email}}</p>

<br>
{{score}}
<table class = 'tableClass'>
    <tr><td>Asessment</td><td>Score</td></tr>
    {% for score in score %}
    <tr><td>{{score.assessmentId}}</td><td>{{score.score}}</td></tr>
    {% endfor %}
</table>
<!-- <table class='tableClass'>
{% for allUsers in Users %}
    if({{user.id}}=={{allUser.id}}{
       
            <tr><td>{{allUser.id}}</td>{{allUser.username}}<td>{{user.id}}</td><td>{{user.username}}</td></tr>
        
    }
{% endfor %}
</table> -->
<!-- {{uAssess}}
<div class ="userAssess">
    <table class = "userTable" id = "assessTable">
        <tr>
            <th>Asessment</th>
            <th>Score</th>
        </tr>
        {% for user in uAssess %} 
        <tr><td>{{user.catergory}}</td><td>{{user.score}}</td></tr>
        {% endfor %}
    </table>
</div> -->
{% else %}

{% endif %}
<br>


{% endblock %}